body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header {
    background-image: url("../images/Panorama_2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 0 0 10px;
}
.popup {
    display: none;
    bottom: 20%;
    position: fixed;
    user-select: none;
    width: 100%;
    height: 60%;
    justify-content: center;
    margin-left: 0;
    z-index: 3;
}

/* The actual popup */
.popup .popuptext {
    width: 100%;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: relative;
    margin-left: 10%;
}

.popup-bottom{
    bottom: 0;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
}

.menu-Button{
    height: 30px;
    position: absolute;
    left: 10px;
    top: 10px;
    width: auto;
    cursor: pointer;
    float: left;
    z-index: 6;
}

.menu {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    left: 0;
    margin-top: 0;
    padding: 40px;
    z-index: 5;
    line-height: 41px;
    justify-content: left;
    text-align: left;
    border-radius: 6px;
    marker:none;
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

.menu li{
    list-style-type: none;
}

.menu a{
    text-decoration: none;
    color: black;
}
.container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 31%);
    grid-gap: 20px;
    margin-bottom: 50px;
    justify-content: center;
}
.post {
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.content-images {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
.post-content {
    margin-top: 1rem;
    z-index: 4;
}
.like-btn {
    cursor: pointer;
    width: 30px;
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.likes-count {
    margin-left: 5px;
    color: #333;
}

.exit-button{
    float: right;
    width: 30px;
    height: auto;
    padding-right: 10px;
    cursor: pointer;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.content-title{
    font-family: "Brush Script MT";
    font-size: 50px;
    margin: 0 0 10px 10px;
}

.logo {
    margin-top: 20px;
    max-width: 200px;
    border-radius: 100%;
    box-shadow: 0 10px 20px;
}

.add-button-wrapper{
    cursor: pointer;
    position: sticky;
    bottom: 60px;
    right: 10px;
    float: right;
    height: 40px;
    width: 40px;
    z-index: 4;
}

.add-button{
    height: 40px;
    position: absolute;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
}

textarea{
    border-style: none;
    border-radius: 4px;
    width: 98%;
}

#description{
    height: 60%;
}

#myFile{
    visibility: hidden;
    width: 1px;
}

.actualBtn{
    width: 25px;
    height: auto;
    float: left;
    padding-left: 20px;
    cursor: pointer;
}

.actualBtnCamera{
    width: 25px;
    height: auto;
    float: right;
    padding-right: 20px;
    cursor: pointer;
}

.detail-btn{
    cursor: pointer;
    width: 33px;
    float: right;
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    height: 100%;
    background-color: #f2f2f2;
    width: 90%;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

#popupCamera{
    z-index: 6;
    background-color: #f2f2f2;
    width: 80%;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

#myPopupWindow {
    background-color: #f2f2f2;
    width: 80%;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

@media only screen and (max-width: 600px) {
    .logo{
        max-width: 90px;
        margin-top: 20px;
        border-radius: 100%;
    }

    .popup{
        bottom: 0;
    }

    .add-button-wrapper{
        bottom: 20px;
    }

    .content-title{
        font-family: "Brush Script MT";
        font-size: 30px;
        margin: 0 0 10px 10px;
    }
    .container {
        padding: 20px;
        display: grid;
        grid-template-columns: auto;
        margin-bottom: 50px;
        justify-content: center;
    }
    footer {
        display: none;
        height: 0;
    }

    .popup{
        bottom: 20%;
    }

    .popup .popuptext{
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}